.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.is-logged {
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.user-here {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 430px;
}

.user-not-there {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 430px;
}

.text-review {
	resize: none;
	height: 200px;
	border: 1px solid #2ecc71;
	opacity: 0.9;
	border-radius: 20px;
	padding: 10px;
}

.text-review:focus {
	outline: none;
	border: 2px solid #2ecc71;
	-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
	-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
	box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.write-review {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
	text-align: center;
}

#header {
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	color: white;
	height: 80px;
	background: linear-gradient(to right, #3fdba4, #3fdb73);
}

#headline {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.formSearch {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#wrapper {
	min-height: 100%;
}

.mega-wrap {
	display: flex;
	flex-direction: column;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
}

.flex-between {}

body {
	font-family: 'Lato', sans-serif;
}

#headline {
	color: #bdc3c7;
	letter-spacing: 3px;
	font-style: thin;
}

#header h2 {
	color: white;
}

.resize {
	flex-basis: 70px;
	max-width: 70px;
	max-height: 100px;
	margin-top: 10px;
	align-self: center;
}

.card-pos {
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;

}
.card-pos img{
	width:100px;
	
}

.hide-it {
	display: none;
}

#searchBar {
	margin-top: 2%;
	margin-bottom: 2px;
	height: auto;
}

.search-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#searchBar input {
	margin-left: 5px;
}

#searchBar select {
	margin-left: 5px;
}

/* to add some height and transition when trying to search */

#suburbSelect,
#ratingSelect {
	height: 50px;
	outline: none;
	transition: 1s ease-in-out;
	flex: 1 1 100px;
}

input[type=search] {
	padding: 5px;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	outline: none;
	height: 50px;
	transition: 1s ease-in-out;
	flex: 1 1 100px;
}

input[type=search]:focus {
	border-color: #0984e3;
}

input[type=submit] {
	height: 50px;
	cursor: pointer;
	background: #ccc;
	padding: 10px;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #54a0ff;
	border: 1px solid #54a0ff;
	color: #fff;
	font-size: 15px;
	transition: 1s ease-in-out;
	outline: none;
	flex: 1 1 100%;
	margin-top: 10px;
}

input[type=submit]:hover {
	background-color: #0984e3;
	border: 1px solid #0984e3;
}

select {
	padding: 5px;
	height: 50px;
	border: 2px solid #ccc;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	transition: 1s ease-in-out;
}

select:focus {
	border-color: #0984e3;
}

/* 
giving 60% of screen height to the map at any time */

#mapContainer {
	width: 100%;
	height: 400px;
}

/* 
to make the footer stick to the bottom at anytime */

.mega-wrap {}

#footer {
	flex-shrink: 0;
	width: 100%;
	height: 200px;
	font-size: 8pt;
	color: white;
	align-items: center;
	background: linear-gradient(to right, #3fdba4, #3fdb73);
}

/* properties for the nav bar like background color, positioning of elements, colors and dimensional parameters */

.nav {
	background: linear-gradient(to right, #3fdba4, #3fdb73);
	height: auto !important;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	color: #fff;
	flex-wrap: wrap;
}

.nav a {
	float: right;
	width: 100px;
}

.nav h1 {
	margin-top: 0px;
}

/* this is the design for he nav buttons with transition and hovering effects */

.button-filled {
	background-color: #54a0ff;
	border: 1px solid #54a0ff;
	padding: 10px;
	border-radius: 20px;
	color: #fff;
	text-align: center;
	width: 40%;
	font-size: 1em;
	align-self: center;
	font-weight: 400;
	cursor: pointer;
	transition: 1s ease-in-out;
}

.button-filled:hover {
	background-color: #0984e3;
	border: 1px solid #0984e3;
	transition: 1s;
}

/* removing all styling and decorations from links */

a {
	text-decoration: none !important;
}

/* to move the sign in and register buttons a bit apart from each other */

.fix {
	margin-left: 10px;
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	word-spacing: 2px;
	letter-spacing: 0px;
	color: #fff;
	text-align: center;
	border-radius: 20px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

.welcome-user {
	text-align: center;
	justify-content: center;
	padding: 10px;
}

.avatar {
	width: 20px;
	height: 20px;
}

.intro-screen {
	background: #11998e;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #38ef7d, #11998e);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
}

hr {
	color: #fff;
	border: 0;
	height: 0;
	/* Firefox... */
	box-shadow: 0 0 1px 1px #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 40%;
	position: relative;
	left: 30%;
}

#text-intro {
	color: #fff;
	margin: 0 auto;
	text-align: center;
	text-align: center;
	position: relative;
	float: left;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	word-spacing: 5px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.user-sign {
	border-radius: 10px;
	background-color: #48dbfb;
	padding: 10px;
	margin-right: 5px;
	text-align: center;
	height: 22px;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@media only screen and (max-width: 450px) {
	.user-here a {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 5px;
	}
	.user-here {
		justify-content: center !important;
		margin-top: 10px;
	}
	.nav {
		justify-content: center;
	}
}

@media only screen and (max-width: 345px) {
	input[type=submit] {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 350px) {
	.user-sign {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 805px) {
	.user-here a {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 5px;
	}
	.user-here {
		justify-content: center;
		margin-top: 10px;
		width: 100%;
	}
	.nav {
		justify-content: center !important;
	}
}