
body {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color:#7bed9f;
}

.register{
    
    display:flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width:350px;
    margin: 0 auto;
    border-radius: 20px;
    padding:20px;
    background-color: #fff;
    opacity: 0.95;
}
.inputs{
    width: 200px;
    height: 20px;
    padding:10px;
    align-self: center;
    border-radius: 20px;
    border:1.5px solid #27ae60;
}
.button-filled{
    background-color: #27ae60;
    padding:10px;
    border-radius: 20px;
    color:#fff;
    width: 40%;
    align-self: center;
    font-weight: 400;
    cursor: pointer;
}

.button-outlined{
    border:1px solid #27ae60;
    width: 40%;
    align-self: center;
    border-radius: 20px;
    padding:10px;
    color:#27ae60;
    font-weight: 400;
    cursor: pointer;
}
.button-filled:hover{
    background-color:#2ecc71;
    transition: 1s;
}
.button-outlined:hover{
    background-color:#2ecc71;
    transition: 1s;
    color: #fff;
}
input:focus, textarea:focus {
    outline: none;
    border:2px solid #2980b9;
    transition: 1s;
     outline-offset: -2px;

}

